<!-- file-upload.component.html -->
<div class="button-container">
  <!-- Button to trigger file input -->
  <button class="file-upload-button" #btnFile (click)="triggerFileInput($event)" aria-label="Upload file">
    <i class="fas fa-paperclip"></i><!-- Unicode folder icon -->
  </button>
  <input type="file" #fileInput hidden (change)="onFilesSelected($event)" multiple>
  <!-- Optional: Display file contents or file name below -->
  <div *ngIf="fileContent" class="file-content">
    <h4>File Contents:</h4>
    <pre>{{ fileContent }}</pre>
  </div>
</div>

<div class="question-container">
  <!-- Button to trigger question input -->
  <button class="question-upload-button"  id = 'questionButton' (click)="questionInput.click()" aria-label="Upload Question"> Upload Questions here! <!-- Unicode folder icon --></button>
  <input type="file" id = 'questionInput' #questionInput hidden (change)="onQuestionSelected($event)">

  <!-- Optional: Display file contents or file name below -->
  <div *ngIf="questionContent" class="file-content">
    <h4>Question Contents:</h4>
    <pre>{{ questionContent }}</pre>
  </div>
</div>

<!-- Custom Confirmation Dialog -->
<div class="custom-confirm-dialog" *ngIf="showConfirmDialog">
  <p>{{ confirmMessage }}</p>
  <button (click)="handleConfirm(true)">Yes</button>
  <button (click)="handleConfirm(false)">No</button>
</div>



