.file-upload-button {
  background-color: #ddb764; /* Light gray background */
  color: #080808; /* Darker text color for contrast */
  border: none; /* No border */
  border-radius: 50%; /* Make it round */
  width: 50px; /* Fixed width */
  height: 45px; /* Fixed height to maintain the circle shape */
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  font-size: 15px; /* Adjust the size of the icon */
  cursor: pointer;
  outline: none; /* Remove focus outline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-family: "Times New Roman";
  font-size: 16px;
  position: fixed;

}

.question-upload-button {
  background-color: #090909; /* Light gray background */
  color: #78be91; /* Darker text color for contrast */
  border: none; /* No border */
  border-radius: 50%; /* Make it round */
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height to maintain the circle shape */
  display: none;
  right: 100px;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  font-size: 20px; /* Adjust the size of the icon */
  cursor: pointer;
  outline: none; /* Remove focus outline */
  transition: background-color 0.3s; /* Smooth transition for hover effect */

  position: fixed;

}

.custom-confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask:
  radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%)
    var(--_p) 100%/var(--t) var(--t) no-repeat,
  linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(135deg,#f49e5c,#4d9ac7) border-box;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-family: "Times New Roman";
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 50%;
  width: 200px;
}


.custom-confirm-dialog button {
  margin: 8px;
}


.file-upload-button:hover {
  background-color: #d8c395; /* Slightly darker shade on hover */
}

.question-upload-button:hover {
  background-color: #c2cdc6; /* Slightly darker shade on hover */
}

