/* Set the background color of the whole page */
body {
  background:url(../assets/towsonuniversity3.jpg)no-repeat center center fixed;
  background-size: cover;  /* Cover the entire page */
  background-position: center;  /* Center the background image */
  background-repeat: no-repeat;  /* Do not repeat the image */

  font-family: Arial, sans-serif; /* Optional: sets a consistent font for the site */
}
