<div class="chat-container" #scrollContainer>
  <div class="messages-display-area">
    <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
      {{ message.text }}
    </div>
  </div>
  <div class="input-area">
    <div class="input-wrapper">
      <!--For below: [disabled]="loading" and  -->
      <textarea #textarea
        [disabled]="loading"
        appAutoResize class="chat-input"
        (input)="scrollToBottom()"
        (keydown.enter)= 'onEnterKeyPress($event,textarea)'
        [(ngModel)]="inputMessage"
        placeholder="Type a message..."
        autofocus rows="1"></textarea>
      <button class="send-button" [disabled]="loading" (click)="confirmQuestionText(textarea)">
        <span *ngIf="!loading">↑</span>
        <span *ngIf="loading" class="spinner"></span>
      </button>
    </div>
  </div>
</div>
