.chat-container {
  border: 1px solid #d65dc2;
  border-radius: 8px;
  padding: 20px;
  background-color: #d65dc2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  margin: 20px auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;

  max-width: 1000px;
    /* max-height:1000px; */
  position: absolute;
}

.messages-display-area {
  width: 100%;  /* Adjust width as needed */
  /* max-height: 650px;   Or whatever maximum height you prefer */
  /* overflow-y: auto; Enables scrolling when content exceeds max height */
  padding: 10px;  /* Adds padding inside the container */
  word-wrap: break-word;  /* Ensures words break to prevent overflow */
  white-space: normal;  /* Ensures normal text wrapping is applied */
}

.input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  /* Additional space between input area and any other UI elements */
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;  /* Space between input wrapper and any other elements */
}

.chat-input {
  width: 100%;
  padding: 9px 11px 11px 15px;
  padding-right: 50px;  /* Make space for the send button inside the input area */
  border: 2m solid #ccc;
  border-radius: 25px;  /* Rounded corners for visual appeal */
  resize: none;  /* Disable resizing of the textarea */
  outline: none;
  min-height: 38px;  /* Initial minimum height */
  box-sizing: border-box;  /* Border and padding included in width/height */
  overflow: hidden;  /* Prevents scrollbar appearance */
}

.send-button {
  position: absolute;
  right: 2px;
  bottom: 5.5px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

::placeholder {
  top: 30%;
  vertical-align: middle;
  color: #007bff
}
