<div class="chat-container" #scrollContainer>
  <div class="messages-display-area">
    <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
      {{ message.text }}
    </div>
  </div>
  <div class="input-area">
    <div class="input-wrapper">
      <!--For below: [disabled]="loading" and  -->
      <textarea #textarea
        [disabled]="loading"
        id="type_area"
        appAutoResize class="chat-input"
        (input)="scrollToBottom()"
        (keydown.enter)= 'onEnterKeyPress($event,textarea)'
        [(ngModel)]="inputMessage"
        placeholder="Type an answer and then upload a question here!"
        autofocus rows="1"></textarea>
      <button class="send-button" [disabled]="loading" (click)="confirmQuestionText(textarea)">
        <span *ngIf="!loading">↑</span>
        <span *ngIf="loading" class="spinner"></span>
      </button>
    </div>
  </div>
</div>

<!-- Custom Confirmation Dialog -->
<div class="custom-confirm-dialog" *ngIf="showConfirmDialog">
  <p>{{ confirmMessage }}</p>
  <button (click)="handleConfirm(true)">Yes</button>
  <button (click)="handleConfirm(false)">No</button>
</div>
