.chat-container {
  /* border: 1px solid #d65dc2;*/
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 24%;
  top: 13%;
  width: 50%;
  /*max-height:1000px; */
  position: absolute;
  font-family: "Times New Roman";
}

.messages-display-area {
  width: 100%;  /* Adjust width as needed */
  /* max-height: 650px;   Or whatever maximum height you prefer */
  /* overflow-y: auto; Enables scrolling when content exceeds max height */
  padding: 1px;  /* Adds padding inside the container */
  word-wrap: break-word;  /* Ensures words break to prevent overflow */
  white-space: normal;  /* Ensures normal text wrapping is applied */

  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Times New Roman";

}

.input-area {
  display: flex;
  align-items: right;
  padding: 10px;
  font-family: "Times New Roman";
  /* Additional space between input area and any other UI elements */
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
  font-family: "Times New Roman";
  /* Space between input wrapper and any other elements */
}

.chat-input {
  width: 100%;
  padding: 9px 11px 11px 15px;
  padding-right: 50px;  /* Make space for the send button inside the input area */
  border: 2m solid #ccc;
  border-radius: 25px;  /* Rounded corners for visual appeal */
  resize: none;  /* Disable resizing of the textarea */
  outline: none;
  min-height: 38px;  /* Initial minimum height */
  box-sizing: border-box;  /* Border and padding included in width/height */
  overflow: hidden;  /* Prevents scrollbar appearance */
  /* background: linear-gradient(135deg,#f49e5c,#4d9ac7) border-box; */
  background: #8cb6ce;
  font-family: "Times New Roman";
  font-size: 15px;

}

.send-button {
  position: absolute;
  right: 2px;
  bottom: 5.5px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #3290c7;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.send-button:hover {
  background-color: #a1b4c0; /* Slightly darker shade on hover */
}

::placeholder {
  top: 30%;
  vertical-align: middle;
  color: #0b0b0b;
  font: Arial;
  font-family: "Times New Roman";
  font-size: 15px;

}

.message {
  --r: 1em;  /* the radius */
  --t: 1.5em; /* the size of the tail */
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  mask:
    radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%)
      var(--_p) 100%/var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(135deg,#f49e5c,#4d9ac7) border-box;
  color: #0a0a0a;
  font-family: "Times New Roman";
  font-size: 14px;
  white-space: pre-line; /* Preserves whitespace and new lines */
  /* place-self: end; */
}

.user-message {
  background-color: #007BFF;
  color: rgb(11, 10, 10);
  word-wrap: break-word;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  --_p: 100%;
  border-bottom-right-radius: 0 0;
  margin: 5px 0;

  margin-left: auto; /* Pushes the bubble to the right */
  /* max-width: 300px; Maximum width for the bubble */
  padding: 1em; /* Padding inside the bubble */
  display: flex; /* Ensures the contents are aligned using flexbox */
  justify-content: center; /* Centers the text horizontally within the bubble */
  align-self: flex-end;
  font-family: "Times New Roman";
  font-size: 17px;
}

.bot-message {
  background-color: #EFEFEF;
  color: black;
  word-wrap: break-word;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  --_p: 0;
  border-bottom-left-radius: 0 0;
  margin: 5px 0;

  margin-right: auto; /* Pushes the bubble to the right */
  /* max-width: 300px; Maximum width for the bubble */
  padding: 1em; /* Padding inside the bubble */
  display: flex; /* Ensures the contents are aligned using flexbox */
  justify-content: center; /* Centers the text horizontally within the bubble */
  align-self: flex-start;
  font-family: "Times New Roman";
  font-size: 16px;

}


button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.spinner {
  border: 3px solid #f3f3f3; /* Light grey for the background circle */
  border-top: 3px solid #3498db; /* Blue color for the spinner part */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute; /* Center the spinner inside the button */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  mask:  radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%)    var(--_p) 100%/var(--t) var(--t) no-repeat,  linear-gradient(#000 0 0) padding-box;
  background: linear-gradient(135deg,#f49e5c,#4d9ac7) border-box;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-family: "Times New Roman";
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
}
